.common {
    height: 100%;
}

.common__title {
    text-align: center;
    padding: 0 0 1.5rem 0;
    color: #444F59;
    font-size: 1.8rem !important;
}


.raikhan {
    background: url(../../images/nazerke.jpg) no-repeat center center;
    background-size: cover;
}